*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    padding: 5px 15px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
    color: #4c4c4c;
}
h1{
    font-size: 17px;
    padding: 8px 0;
}
.form{
    padding: 8px 0;

}
#wrapper{
    border: 1px solid rgb(195, 198, 202);
    border-radius: 4px;
    padding: 15px 35px;
    display: inline-block;
}

input[type="text"]{
    width:300px;
    border-radius: 4px;
    padding: 6px 14px;
    border: 1px solid rgb(178, 180, 184);
}

input[type="submit"]{
    background-image: linear-gradient(rgb(35, 194, 119), rgb(57, 157, 108));
    -webkit-font-smoothing: antialiased;
    appearance: none;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(67, 90, 111, 0.3) 0 0 0 1px inset, rgba(67, 90, 111, 0.06) 0 -1px 1px 0;
    padding: 7px 14px;
}

p{
    font-size: 11px;
    font-family: "Helvetica Neue", sans-serif;
    padding: 6px 0;
    color: #868686;
}

.success{
    background-color: #caefc6;
}

#info{
    font-size: 13px;
    font-weight: bold;
    color: #707070;
}

#info a {
    color: #4b57ff
}